# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
advent-of-code-2025

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# IDE/Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# debug
.debug

notes.txt
scratch.txt